@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
    font-family: "GE SS";
    src: url(../fonts/GE\ SS\ Two\ Light.otf);
    font-weight: 300;
    display: block;
}
@font-face {
    font-family: "GE SS";
    src: url(../fonts/GE\ SS\ Two\ Light.otf);
    font-weight: 400;
    display: block;
}
@font-face {
    font-family: "GE SS";
    src: url(../fonts/GE\ SS\ Two\ Medium.otf);
    font-weight: 500;
    display: block;
}
@font-face {
    font-family: "GE SS";
    src: url(../fonts/GE\ SS\ Two\ Bold.otf);
    font-weight: 600;
    display: block;
}
@font-face {
    font-family: "GE SS";
    src: url(../fonts/GE\ SS\ Two\ Bold.otf);
    font-weight: 700;
    display: block;
}
@font-face {
    font-family: "Montserrat";
    src: url(../fonts/Montserrat-Light.ttf);
    font-weight: 300;
    display: block;
}
@font-face {
    font-family: "Montserrat";
    src: url(../fonts/Montserrat-Regular.ttf);
    font-weight: 400;
    display: block;
}
@font-face {
    font-family: "Montserrat";
    src: url(../fonts/Montserrat-Medium.ttf);
    font-weight: 500;
    display: block;
}
@font-face {
    font-family: "Montserrat";
    src: url(../fonts/Montserrat-SemiBold.ttf);
    font-weight: 600;
    display: block;
}
@font-face {
    font-family: "Montserrat";
    src: url(../fonts/Montserrat-Bold.ttf);
    font-weight: 700;
    display: block;
}
body{
    -moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: antialiased;
   background-color: #FAF4F1;
}
.ltr body{
   font-family: "Montserrat";

}
.rtl body{
   font-family: "GE SS";
   word-spacing: 2px;

}
html{
    scroll-behavior: smooth;

}

@layer components{
.Container{
    @apply w-[90vw] md:w-[87.5vw] mx-[auto]
}
.rtl .histroyCircle{
   @apply right-[-7.5vw]
}
.ltr .histroyCircle{
   @apply left-[-7.5vw]
}
.rtl .adjustLeftPaddingOfCarousel{
   @apply md:pr-[6.30208333333vw]
}
.ltr .adjustLeftPaddingOfCarousel{
   @apply md:pl-[6.30208333333vw]
}
.rtl .histroyCircle{
   @apply translate-x-[50%]
}
.ltr .histroyCircle{
   @apply translate-x-[-50%]
}
.rtl .histroyCircle1{
   @apply md:right-[100%]
}
.ltr .histroyCircle1{
   @apply md:left-[100%]
}
.rtl .histroyCircle2{
   @apply md:right-[0%]
}
.ltr .histroyCircle2{
   @apply md:left-[0%]
}
.rtl .centeredLineContainer{
  @apply pr-[10vw] md:pr-[12.4479166667vw]
}
.ltr .centeredLineContainer{
  @apply pl-[10vw] md:pl-[12.4479166667vw]
}
.rtl .adjustHistoryDivMargin1{
   @apply md:mr-[31.25vw]
}
.rtl .adjustHistoryDivPadding{
   @apply md:pr-[6vw]
}
.ltr .adjustHistoryDivPadding{
   @apply md:pl-[6vw]
}
.rtl .adjustTaglinePadding{
   @apply pr-[1.25vw]
}
.ltr .adjustTaglinePadding{
   @apply pl-[1.25vw]
}

.ltr .adjustHistoryDivMargin1{
   @apply md:ml-[31.25vw]
}
.rtl .adjustCeoMargins{
   @apply md:mr-[6.25vw]
}
.ltr .adjustCeoMargins{
   @apply md:ml-[6.25vw]
}
.rtl .adjustAboutSecMargins{
   
   @apply mx-auto md:ml-0 md:mr-[5.63177083333vw]
}
.ltr .adjustAboutSecMargins{
   @apply mx-auto md:mr-0 md:ml-[5.63177083333vw]

}
.rtl .adjustCeoOverlay{
   @apply right-0 md:right-[unset] md:left-[20.8541666667vw]
}
.ltr .adjustCeoOverlay{
   @apply left-0 md:left-[unset] md:right-[18.8541666667vw]
}
.rtl .adjustCeoImage{
   @apply mr-auto md:mr-0 left-[-3.07291666667vw]
}
.ltr .adjustCeoImage{
   @apply ml-auto md:ml-0 right-[-3.07291666667vw]
}
.rtl .adjustBeforeLeft{
   @apply before:right-0
}
.ltr .adjustBeforeLeft{
   @apply before:left-0
}
.rtl .adjustLeftPadding{
   @apply md:pr-[6.25vw]
}
.ltr .adjustLeftPadding{
   @apply md:pl-[6.25vw]
}
.rtl .adjustLeftPaddingOfBanner{
   @apply pr-[6.35416666667vw]
}
.ltr .adjustLeftPaddingOfBanner{
      @apply pl-[6.35416666667vw]
}
.rtl .adjustLeftMargin{
   @apply mr-auto md:mr-0
}
.ltr .adjustLeftMargin{
   @apply ml-auto md:ml-0

}
.rtl .adjustRightPadding{
   @apply pl-[5%] md:pl-0
}
.ltr .adjustRightPadding{
   @apply pr-[5%] md:pr-0
}
.rtl .rtlLeft0{
   @apply left-0
}
.rtl .rtlMarginRightAuto{
   @apply md:mr-[auto]
}
.ltr .rtlMarginRightAuto{
   @apply md:ml-[auto]
}
.rtl .backgroundSectionPaddingRight{
  @apply md:pl-[1.9265625vw]
}
.ltr .backgroundSectionPaddingRight{
  @apply md:pr-[1.9265625vw]
}
.rtl .fliped{
   @apply transform scale-x-[-1]
}
.ltr .rtlLeft0{
   @apply right-0
}
.rtl .centeredLine{
   @apply right-[2.22222222222vw] md:right-[unset] md:left-[50%]
}
.ltr .centeredLine{
   @apply left-[2.22222222222vw] md:left-[50%]
}
.rtl .historyBorder{
   @apply right-[-7.5vw] md:right-[unset]
}
.ltr .historyBorder{
   @apply left-[-7.5vw] md:left-[unset]
}

.historyBorder{
   @apply  absolute h-[38px] md:h-[5vw] border-b border-[#BF713E] 
 }
.histroyCircle{
 @apply   absolute md:top-[5vw] top-[38px]    w-[30px] md:w-[1.875vw] translate-y-[-50%] transform 
 
}
.centeredLine{
   @apply absolute top-[38px] md:top-[5vw]   transform translate-x-[-50%] w-[1px] bg-[#BF713E] h-[89.5%] 

}
    .mainHeading{
        @apply text-[28px] leading-[38px]  md:text-[3.33333333333vw] md:leading-[5vw] uppercase
        font-[600]
 }
    .miniHeading{
      @apply text-[24px] leading-[34px] md:text-[2.08333333333vw] md:leading-[3.125vw] capitalize
      font-[600] text-[#183828]
    }
    .shortHeading{
        @apply text-[18px] md:text-[1.66666666667vw] md:leading-[2.5vw]  font-[600]
    }
    .tagLine{
        @apply md:text-[1.25vw] md:leading-[1.875vw]  

    }
    .exploreBtn {
      @apply text-[16px]  md:text-[1.25vw] transition-all duration-[800ms] md:leading-[1.875vw] flex  opacity-[0.8] gap-x-[10px] md:gap-x-[0.72916666666vw] items-center
    }
    .exploreSvg{
      @apply w-[6.5px] h-[11.9px] md:w-[0.41666666666vw] md:h-[0.67708333333vw] transition-all duration-[800ms]
    }
    .rtl .exploreSvg{
      @apply scale-x-[-1]
    }
    .exploreBtn:hover{
      color: #BF713E;
    }
    .ltr .exploreBtn:hover .exploreSvg{
      /* transform: translateX(0.5vw); */
      @apply translate-x-[0.5vw]
    }
    .rtl .exploreBtn:hover .exploreSvg{
      /* transform: translateX(0.5vw); */
      @apply translate-x-[-0.5vw]
    }
     .paragraph{
        @apply text-[14px] md:text-[0.9375vw] md:leading-[1.40625vw] 
        
     }
     .rtl .adjustTakeToTopRight{
      @apply left-[4%] md:left-[0.9375vw]
     }
     .ltr .adjustTakeToTopRight{
      @apply right-[4%] md:right-[0.9375vw]
     }
     .button{
        @apply  w-[180px] h-[40px] md:w-[11.8229166667vw] md:h-[3.17708333333vw]   border-[1px] flex justify-center 
        items-center  transition-all duration-500 relative cursor-pointer overflow-hidden
     }
     .link{
        @apply text-[1.25vw] leading-[1.52395833333vw] font-[500] 
        
        font-[500] capitalize transition-all duration-500
     }
     .sliderOverlay{
        @apply before:rounded-[0.26041666666vw] before:content-[''] before:w-full before:h-full before:bg-[#F7EDE7] before:absolute before:top-0 before:left-0
     }
     .team-members{
      @apply w-full h-[300px] md:w-[23.3854166667vw] md:h-[28.5416666667vw]
      md:rounded-[0.78125vw] rounded-[10px]  overflow-hidden relative flex items-end
     }
     .team-member-overlay1{
      @apply absolute top-0 left-0 w-full h-full
      bg-[#EFE4DA] z-[3]
     }
    
      
     .team-member-content{
      @apply absolute left-[50%] transform translate-x-[-50%]
       bottom-[24px] md:bottom-[1.97916666667vw] w-[95%] md:w-[21.875vw] z-[5] flex flex-col 
        items-center
     }
     .service-readmore{
      @apply w-[0.91927083333vw] h-[0.91927083333vw]
     }
     .service-readmore-wrapper{
      @apply w-[8.28125vw]   opacity-[0.8] text-[#183828]
      flex justify-between items-center
     }
     .our-service-cards-wrapper{
    @apply  flex flex-col md:flex-row md:gap-x-[4.79166666667vw] items-center
     }
.our-service-cards-img{
   @apply w-[65%] md:w-[11.4583333333vw] md:min-w-[11.4583333333vw] md:h-[11.4583333333vw]
}
.rtl .adjustFooterMargin{
   @apply md:mr-[6.25vw]
}
.ltr .adjustFooterMargin{
   @apply md:ml-[6.25vw]
}
.ourservice-readmore-wrapper{
 @apply    tagLine  text-[#183828]
    flex justify-between items-center font-[500]
}
.readmore-wrapper{
 @apply   md:w-[9.58333333333vw] tagLine  text-[#183828]
    flex justify-between items-center font-[500]
}
.container-2{
 @apply   flex justify-between  flex-wrap gap-y-[12px] md:gap-y-[3.125vw]  
  
}
.services-cards-wrapper-1{
 @apply   rounded-[10px] md:w-[39.3229166667vw]   bg-[#EFE4DA]  p-[16px]  md:py-[2.65625vw] md:rounded-[0.78125vw]
  
}
.services-cards-content{
 @apply  md:w-[30.9895833333vw] mx-[auto]
 flex flex-col gap-y-[12px] md:gap-y-[1.66666666667vw]
  
}

}

#takeToTop.whiteIt{
   border: 1px solid #fff;
}
#takeToTop svg path{
   transition: all .8s;
}
#takeToTop.whiteIt svg path{
   fill: #fff;
}
.histroyCircle{
   opacity: 0;
   transition: all .8s;
   transition-delay: .8s;
}
.active .histroyCircle{
   opacity: 1;
}
.historyBorder{
   transform: scaleX(0);
   transition: all .8s;
   transform-origin: left;
   transition-delay: .4s;

}
.active .historyBorder{
   transform: scaleX(1);

}
.langSwitcher{
   border: none;
   font-family: "Montserrat";
}
.centeredLineContainer .tagLine{
   transform: translateY(-30px);
   transition: all .8s;
   opacity: 0;
}
.centeredLineContainer .mainHeading{
   transform: translateY(30px);
   transition: all .8s;
   opacity: 0;
}
.centeredLineContainer .active .tagLine,.centeredLineContainer .active .mainHeading{
   transform: translateY(0);
   opacity: 1;
}
.Borderz{
    border: 1px solid rgba(24, 56, 40, 0.05);
 }
 .Borderz-dashed{
   border: 1px dashed rgba(24, 56, 40, 0.2);
 }
.headerLinks li:hover,.headerLinks li.active{
    color: #BF713E;
}
.servicePageOverlayTop{
   background: linear-gradient(180deg, #183828 0%, rgba(24, 56, 41, 0) 100%);
opacity: 0.9;
position: absolute;
top: 0;
left: 0;
width: 100%;
height: 35.4794520548%;
}
.servicePageOverlayGroup{
   opacity: 0.2;
   height: 88%;
   width: 100%;
   position: absolute;
   top: 0;
   left: 0;
}
.servicePageOverlayGroupElementOne,.servicePageOverlayGroupElementTwo,.servicePageOverlayGroupElementThree{
   position: absolute;
   top: 0;
   left: 0;
   width: 100%;
   height: 100%;
}
.servicePageOverlayGroupElementOne{
   background: #D9D9D9;
   mix-blend-mode: color;
}
.servicePageOverlayGroupElementTwo{
background-color: #183829;
}
.servicePageOverlayBottom{
   position: absolute;
   left: 0;
   height: 35.4794520548%;
   width: 100%;
   /* bottom: 10.9589041096%; */
   bottom: 0;
   background: linear-gradient(180deg, #183828 0%, rgba(24, 56, 41, 0) 100%);
transform: rotate(180deg);
}
.servicePageOverlayGroupElementThree{
   background: linear-gradient(180deg, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.2) 12.5%, rgba(0, 0, 0, 0.5) 25%, #000000 37.5%, #000000 50%, #000000 62.5%, rgba(0, 0, 0, 0.5) 75%, rgba(0, 0, 0, 0.2) 87.5%, rgba(0, 0, 0, 0) 100%);
}
.button::after{
    content: "";
    width: 100%;
    height: 100%;
    position: absolute;
    background: #BF713E;
    transform: scale(0);
    transition: all .5s;
}
.button a{
    position: relative;
    z-index: 2;
}
.button:hover::after{
    transform: scale(1);

}
.aboutSectionOverlay1{
   position: absolute;
   top: 0;
   left: 0;
   width: 100%;
   height: 100%;
   background: linear-gradient(180deg, #183829 0%, rgba(24, 56, 41, 0) 100%);
   pointer-events: none;
opacity: 0.6;
}
.aboutSectionTopOverlay{
   position: absolute;
   top: 0;
   left: 0;
   width: 100%;
   height: 20.7591933571%;
   background: linear-gradient(180deg, #183829 0%, rgba(24, 56, 41, 0) 100%);
opacity: 0  ;
pointer-events: none;
/* 
transform: rotate(-180deg); */
}

.overlay1,
.overlay2,
.overlay3,
.overlay4,
.overlay5,
.overlay6,
.bgImg,
.about-g,
.team-member-overlay,
.buisness-bg-img,
.service-hero-overlay2,
.service-hero-overlay3
{
    position: absolute;
pointer-events: none;

}
.overlay1{
   background: linear-gradient(180deg, #183828 0%, rgba(24, 56, 41, 0) 100%);
opacity: 0.9;

}
.bannerOverlay1{
   background: linear-gradient(180deg, #183828 0%, rgba(24, 56, 41, 0) 100%);
opacity: 0.9;
}
.bannerOverlay2{
   background: linear-gradient(0deg, rgba(0, 0, 0, 0.35), rgba(0, 0, 0, 0.35)), linear-gradient(0deg, rgba(24, 56, 41, 0.2), rgba(24, 56, 41, 0.2))
}
 .innerPageOverlay1{
   background: linear-gradient(180deg, #183828 0%, rgba(24, 56, 41, 0) 100%);
opacity: 0.9;
 }
 .innerPageOverlay2{
   background: #183829;
opacity: 0.7;
 }
 ul.tagLine{
   list-style: disc;
 }
.about-g{
   background: linear-gradient(180deg, #183829 0%, rgba(24, 56, 41, 0) 100%);
transform: rotate(-180deg);
}

.centeredLineContainer{
   position: relative;
}

.investmentSideOverlay{
   height: 100%;
   position: absolute;
   top: 0;
   left: 0;
   width: 45.9375vw;
background: linear-gradient(90deg, #EFE4DA 0%, rgba(239, 228, 218, 0) 100%);
}
 .overlay2{
    background: linear-gradient(90deg, #183829 -0.01%, rgba(24, 56, 41, 0.702572) 36.97%, rgba(24, 56, 41, 0) 100%);

 }
 .overlay3{
    background: linear-gradient(90deg, #183829 34.54%, rgba(24, 56, 41, 0) 82.1%);
transform: matrix(-1, 0, 0, 1, 0, 0);

 }

 .overlay4{
background: linear-gradient(180deg, #183829 0%, rgba(24, 56, 41, 0) 100%);
opacity: 0.9;
transform: matrix(1, 0, 0, -1, 0, 0);
 }
 .overlay5{
    background: #183829;
    opacity: 0.7;
    transform: matrix(-1, 0, 0, 1, 0, 0);    
 }
 .overlay6{
    background: linear-gradient(180deg, rgba(250, 244, 241, 0) 0%, #FAF4F1 100%);
 }
 .bgImg{
    opacity: 0.8;
    /* transform: matrix(-1, 0, 0, 1, 0, 0); */

 }
 .swiper-pagination-bullet{
   transition: all .8s;
 }
.mapOverlay{
   background: linear-gradient(0deg, rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2));
}
.team-member-overlay{
   background: linear-gradient(180deg, rgba(24, 56, 41, 0) 13.02%, rgba(24, 56, 41, 0.41625) 50.52%, rgba(24, 56, 41, 0.72) 69.27%, rgba(24, 56, 41, 0.846806) 81.25%, #183829 100%);
   left: 0;
   bottom: 0;
   width: 100%;
   height: 34.8540145985%;
   z-index: 5;
}

 

.service-hero-overlay2{
   background: linear-gradient(180deg, #183828 0%, rgba(24, 56, 41, 0) 100%);
transform: rotate(180deg);
}
.service-hero-overlay3{
   background: linear-gradient(180deg, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.2) 12.5%, rgba(0, 0, 0, 0.5) 25%, #000000 37.5%, #000000 50%, #000000 62.5%, rgba(0, 0, 0, 0.5) 75%, rgba(0, 0, 0, 0.2) 87.5%, rgba(0, 0, 0, 0) 100%);
}

.testiomonialCarousel  .swiper-button-next:after,.testiomonialCarousel .swiper-button-prev:after {
   /* content: url(../images/icons/ArrowNext.png) !important;
   width: 2.55208333333vw !important;
   height: 2.55208333333vw !important; */
   display: none;
}
/*
 .testiomonialCarousel  .swiper-button-prev:after{
transform: rotate(180deg);
 } */
 .testiomonialCarousel  .swiper-button-next,.testiomonialCarousel .swiper-button-prev{
    width: 2.55208333333vw !important;
    height: 2.55208333333vw !important;
    top: 50% !important;
   margin-top: 0!important;
   background-color: #F7EDE7;
   border-radius: 50%;
 }
 .testiomonialCarousel  .swiper-button-next{
    right: 11.0416666667vw !important;

 }
 
 .testiomonialCarousel  .swiper-button-prev{
    left: 10.9895833333vw !important;
 }
 .testiomonialSwiper.swiper-horizontal.swiper-css-mode>.swiper-wrapper{
    display: flex !important;
 }
 .testiomonialSwiper.swiper-css-mode>.swiper-wrapper>.swiper-slide{
   height: 100px !important;
   display: flex !important;
   justify-content: center !important;
   align-items: center !important;
}
 @media(min-width:768px){
   .testiomonialSwiper.swiper-css-mode>.swiper-wrapper>.swiper-slide{
      width:11.1979166667vw !important;
      height: 6.5625vw !important;
      display: flex !important;
      justify-content: center !important;
      align-items: center !important;
   }
 }

 .testiomonialCarousel  .swiper-pagination{
    bottom: -3.60416666667vw !important;
 }
 
 .testiomonialCarousel  .swiper-pagination-bullet{
    width: 1.45833333333vw !important;
    height: 0.3125vw !important;
    background-color: #183828!important;
    opacity: 0.2;
    border-radius: 0!important;
    }
    .testiomonialCarousel  .swiper-pagination-bullet-active{
      background: #BF713E !important;
      opacity: 1;
      width: 3.69791666667vw!important;
   }

.sectorsSwiper .swiper-wrapper{
   align-items: flex-end;
   

}
 .sectorsSwiper .swiper-slide{
   transition: all .8s;
 }
 .sectorsSwiper .swiper-slide-active{
   height: 24.21875vw;
 }

 .sectorCardOverlay{
   background: linear-gradient(180deg, rgba(16, 38, 28, 0) 0%, #10261C 100%);
 }
 .swiper-slide-active .sectorCardOverlay{
   max-height: 21.875vw;
 }
.sectorsSwiper .swiper-wrapper{
   padding-bottom: 6.77083333333vw;
}
 .sectorsSwiper .swiper-button-next,.sectorsSwiper .swiper-button-prev{
   width: 2.55208333333vw;
   height: 2.55208333333vw;
   background: #F7EDE7;
   box-shadow: 0px 2.39024px 14.3415px rgba(0, 0, 0, 0.1);
border-radius: 50%;
top: unset;
bottom: 0.6vw;
left: unset;
 }
 .sectorsSwiper .swiper-button-next::after,.sectorsSwiper .swiper-button-prev::after{
   display: none;
 }
 .sectorsSwiper .swiper-button-next{
   right:6.25vw
 }
 .sectorsSwiper .swiper-button-prev{
right: 11.9791666667vw;
 }
 
 .rtl .sectorsSwiper .swiper-button-next{
   left:6.25vw;
   right:unset;
 }
 .rtl .sectorsSwiper .swiper-button-prev{
   right:unset;
   left: 11.9791666667vw;
 }
 
 /* HAMBURGER  */

.container {
   width: 10%;
   height: 12vh;
   background: transparent;
   display: flex;
   align-items: center;
   justify-content: center;
 }
 
 .menu {
   width: 100%;
   margin: 8px;
   background: transparent;
   border-radius: 5px;
 }
 
 .menu div {
   position: relative;
 
 }
 
 
 
 .menu span {
   display: block;
   width: 25px;
   height: 3px;
   background: #BF713E ;
   margin: auto;
   margin-bottom: 4px;
   transition: all 400ms linear;
   cursor: pointer;
 }
 
 
 
 
 .li2ne {
   opacity: 0;
 
 }
 
 
 
 
 .l1ine {
   transform: rotate(-45deg);
   position: relative;
   top: 7.5px;
   background: #FFFFFF !important;
 
 }
 
 
 
 .lin3e {
   transform: rotate(45deg);
   bottom: 6px;
   position: relative;
   background: #FFFFFF !important;
 
 }

 .sidebar{
   backdrop-filter: blur(30px) brightness(0.7);
   z-index: -1;
   transition: all .5s;
 }

 .opacity{
   opacity: 1 !important;
    pointer-events: initial !important;
 }
 body.active{
   overflow: hidden !important;
   height: 100% !important;
 }

 #googleMap .gm-style::after{
      content: '';
   background: linear-gradient(0deg, rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2));
   position: absolute;
   width: 100%;
   height: 100%;
   top: 0;
   left: 0;
   pointer-events: none;
}
#googleMap button{
   z-index: 3!important;
}
.gmnoprint{
   z-index: 3!important;
}
 @media(max-width:768px){
   .sectorsSwiper .swiper-slide-active{
      height: 340px;
    }
    .swiper-slide-active .sectorCardOverlay{
      max-height: unset;
    }
#takeToTop.whiteIt{
   bottom:50px;
}
 }